
.faq_section{
    background-color: var(--color-main);
}

.faq_section .title{
    font-size: 2rem;
    padding: 2rem ;
}

.faq_container{
    padding: 2rem 0;
    
    display: grid;
    
    grid-template-areas:
        "a b"
        "c d"
        "e e"
        "f f"
        "g g";
    
    /*🍀grid: img 가운데 정렬 in the container */
    justify-items: center;
    align-items: center;
}

.faq_container .grid-a {
    grid-area: a;
}
.faq_container .grid-b {
    grid-area: b;
}
.faq_container .grid-c {
    grid-area: c;
}
.faq_container .grid-d {
    grid-area: d;
}

.faq_text{
    padding: 2rem;
    margin: auto;
}

.faq_text div{
    padding: 2rem;
    margin: auto;
}


/*  */

  /* @ 576px */
  @media (max-width: 576px) {

    .faq_container{
        padding: 0.5rem 0;
        
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"; 
    }    
}
  

