

.introduce_page .fishing {
    /* width: var(--main-width); */
    height: 55vh;
    background: url('../img/fishing2.jpg') center no-repeat;
    background-size: cover;

}

.introduce_page .fishing .img-parents{
    width: 10rem;
    padding: 1rem 2rem;
}

.introduce_page .fishing .img-parents img{
    width: 100%;
}

.introduce_page .fishing .title :nth-child(1),
.introduce_page .fishing .title :nth-child(2){
    text-align: start;
}

.introduce_page .fishing .text{
    width: 30rem;
    margin: auto;
    text-align: center;
   
}



.introduce_page .introduce_page-title{
    /* width: 80vw; */
    height: 40vh;

    /* 🦄 background: url 
        center, no-repeat 꼭 넣어야 함
        : cover 꼭 넣어야함 */
    background: url('../img/introduce-dron.webp') center no-repeat;   
    background-size: cover;
    position: relative;
    
    margin: 0 auto;
}

.introduce_page .introduce_page-title .text-parents{

    width: 20%;
    margin: auto;

    position: relative;
    top: 50%;
    color: black;
    font-size: 40px;
    vertical-align: center;

    /*🦄 css20, text inside opacity box */
    background-color: white;
    background: rgba(255,255,255,0.5);


}

.introduce_page .introduce_page-title h2{
    /* position: relative; */
    /* top: 50%; */
    color: black;
    font-size: 2rem;
    /* vertical-align: center; */

        /*🦄 css20, text inside opacity box */
    /* background-color: white;
    background: rgba(255,255,255,0.5); */

    /* background:linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
    ); */
}

.introduce_page-contents h3{
    margin: 40px auto;
}
.introduce_page-contents div{
    margin: 40px auto;
}


  /* @ 576px */
  @media (max-width: 576px) {
    .introduce_page .introduce_page-title{
        /* width: 80vw; */
        height: 10vh;
    }
   
  }

 