.introduce_page .introduce_page-title{
    /* width: 80vw; */
    height: 40vh;

    background: url(../img/introduce-dron.webp) center no-repeat;   
    background-size: cover;
    position: relative;
    
    margin: 0 auto;
}

.introduce_page .introduce_page-title .text-parents{

    width: 20%;
    margin: auto;

    position: relative;
    top: 50%;
    color: black;
    font-size: 40px;
    vertical-align: center;

    /*🦄 css20, text inside opacity box */
    background-color: white;
    background: rgba(255,255,255,0.5);


}

.introduce_page .introduce_page-title h2{
    /* position: relative; */
    /* top: 50%; */
    color: black;
    font-size: 2rem;
    /* vertical-align: center; */

        /*🦄 css20, text inside opacity box */
    /* background-color: white;
    background: rgba(255,255,255,0.5); */

    /* background:linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
    ); */
}

.introduce_page-contents h3{
    margin: 40px auto;
}
.introduce_page-contents div{
    margin: 40px auto;
}


  /* @ 576px */
  @media (max-width: 576px) {
    .introduce_page .introduce_page-title{
        /* width: 80vw; */
        height: 10vh;
    }
   
  }

 