
    /* @ 1500px */
    /* @media (max-width: 1500px) {
      :root {
        --main-width: 1200px;
      } 
  
      .contact .contact-items{
        width: 600px;         
      }
  
      .contact .grid-container .share{
        width: 250px; 
      }
      .contact .grid-container .alone{
          width: 600px;  
      }
    
      .contact .submit{    
        width: 600px;
      }
    } */


     
  /* @ 1200px */
  @media (max-width: 1200px) {    
    :root {
      --main-width: 1000px;
    } 
    html {      
      font-size: 80%;
    }
    
    .nav .title,
    .nav2 .title{ 
      width: 150px;
      padding: .5rem;
    }

  
    .mainProducts-c .grid-container .gPad img{
      width: 90%;
    }

    /*  */
    .introduce_page .fishing {
      
      /* height: 40rem;     */
    }
    .introduce_page .introduce_page-title{
      height: 30rem;
    }


    
    .introduce .item1 div,
    .introduce .item2 div{   
      padding-left: 1rem;
    }

    

    
    .contact{   
      flex-direction: column;
    }


  }



  /* @ 768px */
  @media (max-width: 768px) {
    :root {
      --main-width: 650px;
    }
  
    html {      
      font-size: 70%;
    }

    .nav .title,
    .nav2 .title{ 
      width: 100px;
      padding: .5rem;
    }

  
  .mainProducts-c .grid-container .gPad img{
      width: 70%;
  }
              
    /*  */
    .introduce_page .fishing {
      
      height: 35rem;    
    }
    .introduce_page .introduce_page-title{
      height: 25rem;
    }


    .introduce .item1,
    .introduce .item2{     
      margin: 10px 0;   
    }

    .introduce .item1 div,
    .introduce .item2 div{   
      padding-left: 0.5rem;
    }

    .services-slideShow .title{    
     
      padding: 1rem;
    }

    .mainProducts {
      padding-bottom: 1rem;
    }

    .mainProducts .title{
      padding: 2rem;
    }

    .mainProducts-b .grid-container .gPad img{ 
      width:  150px;
      height: 150px;      
    }


  }
  
  /* @ 576px */
  @media (max-width: 576px) {

    :root {
      --main-width: 400px;
    } 

    html {      
      font-size: 50%;
    }


    .nav .navbar .phone-container,
    .nav2 .navbar .phone-container{
      flex-direction: column;         
     }
    
    /* 🍳Bug:  전체화면에서도 padding 0.5rem이 적용됨..*/
    .nav .navbar .phone-container .phone,
    .nav2 .navbar .phone-container .phone{
        padding: 0.5rem;
        padding-right: 2rem;
    }

    /*  */
    .mainProducts-b .title h1{
      font-size: 3rem;    
    }  

    /*  */

    .introduce_page .fishing {
      
      height: 25rem;    
    }
    .introduce_page .introduce_page-title{
      height: 20rem;
    }


  
    .introduce .item1,
    .introduce .item2{     
      margin: 10px 0;   
    }

    .introduce .item2 h1{
      margin-bottom: 1rem;  
      }

    .introduce .item1 div,
    .introduce .item2 div{   
      padding-left: 1rem;
    }

    .services-slideShow .title{    
      /* font-size: 4rem; */
      padding: 1rem;
    }


    .mainProducts {
      padding-bottom: 1rem;
    }

    .mainProducts .title{
      padding: 1rem;
    }
      
    .mainProducts .grid-container {      
     padding: 10px 0;
    }

    .mainProducts-a .grid-container .gPad{      
      height: 10rem;
    }  

    .introduce .item1,
    .introduce .item2{
      /* parallax  */
      /* width: 30%; */
      min-height: 30vh;  
    }

    .mainProducts-b .grid-container .gPad img{ 
      width:  100px;
      height: 100px;      
    }

  }

 

