
    /* @ 1500px */
    /* @media (max-width: 1500px) {
      :root {
        --main-width: 1200px;
      } 
  
      .contact .contact-items{
        width: 600px;         
      }
  
      .contact .grid-container .share{
        width: 250px; 
      }
      .contact .grid-container .alone{
          width: 600px;  
      }
    
      .contact .submit{    
        width: 600px;
      }
    } */


     
  /* @ 1200px */
  @media (max-width: 1200px) {    
    :root {
      --main-width: 1000px;
    } 
    
    .contact{   
      flex-direction: column;
    }
  }



  /* @ 768px */
  @media (max-width: 768px) {
    :root {
    }
  
    html {
      /* background-color: yellow;
      font-size: 70%; */
    }
  }
  
  /* @ 576px */
  @media (max-width: 576px) {

    :root {
      --main-width: 400px;
    } 

    html {      
      font-size: 50%;
    }

    .introduce .item1,
    .introduce .item2{     
      margin: 10px 0;   
    }

    .introduce .item2 h1{
      margin-bottom: 1rem;  
      }

    .services-slideShow .title{    
      /* font-size: 4rem; */
      padding: 1rem;
    }


    .mainProducts {
      padding-bottom: 1rem;
    }

    .mainProducts .title{
      padding: 1rem;
    }
      
    .mainProducts .grid-container {      
     padding: 10px 0;
    }

    .introduce .item1,
    .introduce .item2{
      /* parallax  */
      /* width: 30%; */
      min-height: 30vh;  
    }

    .mainProducts .grid-container {


      grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        "h"
        "i"
        "j"; 
      
      }

    .contact .grid-container {

      
      padding: 1rem 0;
      grid-template-areas:
          "a"
          "b"
          "c"
          "d"
          "e"
          "f"
          "g";      
      }

    .contact .grid-container .alone{
      width: 250px;   /* CSS10 */
    }



  }

 

