
  
  /* @ 768px */
  @media (max-width: 768px) {
    :root {
    }
  
    html {
      /* background-color: yellow;
      font-size: 70%; */
    }
  }
  
  /* @ 576px */
  @media (max-width: 576px) {
    html {
      /* background-color: blue;
      font-size: 55%; */
    }
  }
  
  /* @ 1200px */
  @media (max-width: 1200px) {    
    :root {
      --main-width: 500px;
    } 
    .contact{   
      flex-direction: column;
    }
  }

  /* @ 1500px */
  @media (max-width: 1500px) {
    :root {
      --main-width: 1200px;
    } 

    .contact .contact-items{
      width: 600px;    /* CSS10 */     
    }

    .contact .grid-container .share{
      width: 250px; /* CSS10 */
    }
    .contact .grid-container .alone{
        width: 600px;   /* CSS10 */
    }
  
    .contact .submit{    
      width: 600px;
    }
  }