
/* navbar */
#nav .title{ 
    width: 300px;
    padding: 2rem;
}
#nav .title img{
    width: 100%;
}

#nav .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;  
    background-color: var(--color-main);
}

#nav .navbar ul a{
    padding: 1rem;
    
}

#nav .navbar .phone-container{
    display: flex;
}
#nav .navbar .phone-container .phone{
    padding: 1rem;

}

/* introduce */


#introduce .introduce-item {    
    width: 1500px;
    position: relative; 

    text-align: center;    
    color: var(--color-main-white);
}




#introduce .item1{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(./img/DSC_1317.jpg) center no-repeat;   
    background-size: cover;
    position: relative;

    margin: 80px;

    
}

#introduce .item2{
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url(./img/20191017_145432----.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    
    margin: 80px;
}

#introduce .item1 .text{
    position: absolute;
    top: 40%;
 
}

#introduce .item2 .text{
    position: absolute;
    bottom: 10%;

}



#introduce .item1 h1{
    font-size: 7rem;

}
#introduce .item1 div{
    font-size: 2rem;
    padding-left: 3rem;

}


#introduce .item2 h1{
    font-size: 4rem;
    margin-bottom: 10rem;

}
#introduce .item2 div{
    font-size: 1rem;
    padding-left: 3rem;
    text-transform: none;
    text-align: start;
}


/* services-slideShow */

#services-slideShow .title{    
    font-size: 4rem;
    padding: 5rem;
}


/*  */


.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




/* map */

#map .map{
    width: 1200px;
}
#map .map img{
    width: 100%;
}